<main>
    <section id="section3" class="vertical-center section current" data-secao="3">
        <div class="container">
            <div id="zero">
                <div class="row">
                    <div class="col-md-4 top15">
                        <a id="but1">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/contribuicao_sindical.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but2">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/prevalencia_do_negociado_sobre_o_legislado.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but3">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias.jpg"class="img-responsive">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 top15">
                        <a id="but4">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/trabalho_intermitente.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but5">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/teletrabalho.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but6">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/terceirizacao.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 top15">
                        <a id="but7">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo_intrajornada.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but8">
                        <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/hora_in_itinere.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4 top15">
                        <a id="but9">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/danos_morais.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>


            <div id="one" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Contribuição Sindical</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row top30">
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod1" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/enio.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod2" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/celso.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod3" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/carla.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod4" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/cristiano.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod5" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/jadir.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no" style="background-color: #fff;">
                            <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>



                        </div>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">A contribuição sindical era obrigatória, sendo que o pagamento era feito mediante desconto anual no valor equivalente a 1 (um) dia de trabalho do empregado.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">A contribuição sindical pode ser descontada 1 (uma) vez por ano na quantia de 1 (dia) de salário, condicionada à autorização prévia e expressa por parte do empregado. Ou seja, a contribuição sindical é facultativa.</p>
                    </div>
                </div>
            </div>

            <div id="two" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Prevalência do negociado sobre o legislado</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row top30">
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod6" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/enio.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod7" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/celso.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod8" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/carla.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod9" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/cristiano.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod10" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/jadir.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">As convenções e os acordos coletivos eram válidos nos casos em que trouxessem benefícios aos empregados e não estivessem em desacordo com a legislação. Havia, portanto, prevalência do legislado sobre o negociado.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">Atualmente, as convenções e os acordos coletivos prevalecem sobre o legislado nos casos do artigo 611-A da CLT. Por sua vez, são considerados como ilícitos nas situações previstas no artigo 611-B do Códex trabalhista.</p>
                    </div>
                </div>
            </div>

            <div id="three" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Férias</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row top30">
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod11" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/enio.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod12" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/celso.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod13" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/carla.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod14" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/cristiano.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod15" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/jadir.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">As férias podiam ser fracionadas em, no máximo, 2 períodos, sendo que o empregado podia vender até 1/3 (um terço) delas.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">As férias podem ser divididas em até 3 períodos, mediante negociação. Um deles não pode ser inferior a 14 dias corridos, e os demais não podem ser inferiores a 5 dias corridos, cada um.</p>
                    </div>
                </div>
            </div>

            <div id="four" style="display: none;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Trabalho Intermitente</h5>
                        </div>
                        <!--Botão voltar para temas-->
                        <div class="col-md-3">
                            <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row top30">
                            <div class="col-md-4 padd-no">
                                <div class="col-md-12 padd-no">
                                    <a href="#mod16" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/enio.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                    </a>
                                </div>
                                <div class="col-md-12 padd-no">
                                    <a href="#mod17" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/celso.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 padd-no">
                                <div class="col-md-12 padd-no">
                                    <a href="#mod18" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/carla.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                    </a>
                                </div>
                                <div class="col-md-12 padd-no">
                                    <a href="#mod19" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/cristiano.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                    </a>
                                </div>
                                <div class="col-md-12 padd-no">
                                    <a href="#mod20" data-toggle="modal">
                                    <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/jadir.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                    </div>
                    </div>
                    <div class="row top30">
                        <div class="col-md-6">
                            <h5>Como era</h5>
                            <p class="top15">Não havia previsão.</p>
                        </div>
                        <div class="col-md-6 border-left">
                            <h5>Como ficou</h5>
                            <p class="top15">Caracteriza-se a partir de contrato de trabalho no qual a prestação de serviços com subordinação não é contínua, havendo alternância de períodos de prestação de serviços e de inatividade.</p>
                            <p>O trabalhador pode ser pago por período trabalhado, recebendo pelas horas ou diária. Ele tem direito a repouso semanal remunerado, férias e 13º salário proporcionais, bem como FGTS e contribuição previdenciária. O valor da hora trabalho não pode ser inferior ao do salário mínimo/hora vigente ou a dos demais empregados que exercem a mesma função.</p>
                            <p>A convocação para o trabalho deve ser com, no mínimo, 3 dias de antecedência. Nos períodos de inatividade, ele pode prestar serviços a outros contratantes.</p>
                            <p>Encontra base legal nos artigos 442-B e 443 e do artigo 452-A ao artigo 452-H, todos da CLT.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="five" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Teletrabalho</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>

                <div class="row top30">
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod21" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/carla.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod22" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/celso.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod23" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/cristiano.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod24" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/enio.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                </div>

                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">Embora o artigo 6º da CLT tivesse previsto a possibilidade de considerar relação de trabalho mesmo em caso de o empregado laborar em casa, não havia previsão mais específica sobre o tema.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">Caracteriza-se como modalidade de trabalho desenvolvida preponderantemente fora da empresa, devendo ser formalizada via contrato, especificando as atividades que serão desenvolvidas pelo empregado, bem como a responsabilidade com equipamentos, despesas com energia e Internet. A forma mais usada para o controle de trabalho é mediante tarefa.</p>
                        <p>Possui base legal no artigo 62 e do artigo 72-A ao artigo 72-E da CLT.</p>
                    </div>
                </div>
            </div>

            <div id="six" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Terceirização</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row top30">
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod25" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/enio.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod26" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/celso.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod27" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/carla.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod28" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/cristiano.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod29" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/ferias/jadir.jpg" class="img-responsive img-center shadow-no" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">Somente era permitido terceirizar as atividades-meio, sendo coibido os casos em que terceirizava as atividades-fim.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">Permitida também para as atividades-fim. O empregado terceirizado deve ter as mesmas condições de trabalho dos efetivos como, por exemplo, plano de saúde, alimentação, transporte, capacitação e equipamentos.</p>
                        <p>Há ainda regra denominada de “quarentena” em que o empregador não pode contratar o trabalhador demitido durante 18 meses entre a sua demissão e a sua nova contratação, nem mesmo como terceirizado.</p>
                    </div>
                </div>
            </div>

            <div id="seven" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Intevalo Intrajornada</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row top30">
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod30" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/carla.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod31" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/cristiano.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod32" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/celso.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no">
                            <div class="col-md-12 padd-no">
                                <a href="#mod33" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/carlos.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod34" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/enio.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                            <div class="col-md-12 padd-no">
                                <a href="#mod35" data-toggle="modal">
                                <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/intervalo-intrajornada/jadir.jpg" class="shadow-no img-responsive img-center" style="margin: 0;width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 padd-no" style="background-color: #fff;">
                            <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                        </div>
                    </div>
                </div>

                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">Nos casos em que a duração da jornada de trabalho era superior a 6 (seis) horas, o período de descanso devia ser de 1 (uma), no mínimo. Em caso de descumprimento, o empregador podia ser compelido a pagar a hora cheia como extra e não apenas o período suprimido.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">O intervalo intrajornada pode ser reduzido para 30 (trinta) minutos mediante acordo individual ou negociação coletiva, possibilitando que o trabalhador termine mais cedo sua jornada de trabalho.</p>
                        <p>Em caso que o descanso não for concedido, o empregador pode ser condenado a pagar apenas o tempo suprimido acrescido de 50% (cinquenta por cento) sobre o valor da hora normal.</p>
                    </div>
                </div>
            </div>

            <div id="eight" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Horas In Itinere</h5>
                    </div>
                    <!--Botão voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas</span>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod36" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/carla.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod37" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/celso.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod38" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/cristiano.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod39" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/enio.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                </div>

                <div class="row top30">
                    <div class="col-md-6 border-right">
                        <h5>Como era</h5>
                        <p class="top15">Com base no artigo 58, §2º, da CLT, o tempo de deslocamento no transporte oferecido pela empresa para ir e vir do trabalho, cuja localidade é de difícil acesso ou não servida por transporte público, era contabilizado como jornada de trabalho. O tempo gasto no trajeto era chamado de horas in itinere ou itinerárias.</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Como ficou</h5>
                        <p class="top15">Segundo o mesmo dispositivo normativo, o tempo de deslocamento nos casos citados não fazem parte da jornada de trabalho e, portanto, não são remuneradas.</p>
                    </div>
                </div>

            </div>

            <div id="nine" style="display: none;">
                <div class="row">
                    <div class="col-md-9">
                        <h5>Danos Morais</h5>
                    </div>
                    <!--Botão de voltar para temas-->
                    <div class="col-md-3">
                        <button class="btn-voltar"><i class="material-icons">chevron_left</i></button><span class="back-tem">voltar aos temas </span>
                    </div>
                </div>
                <div class="row top30">
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod40" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/carla.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod41" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/celso.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no">
                        <div class="col-md-12 padd-no">
                            <a href="#mod42" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/cristiano.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                        <div class="col-md-12 padd-no">
                            <a href="#mod43" data-toggle="modal">
                            <img src="http://ava.toledoprudente.edu.br/ead/webaula/2018-1/cursoslivres/godebate/img/arquivos/horas-in-itnere/enio.jpg" class="img-responsive shadow-no">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 padd-no" style="background-color: #fff;">
                        <h2 style="background: #a17b4c;color: #fff;font-size: 22px;text-align: left;font-family: 'Merriweather';text-transform: none;font-style: italic;font-weight: 300;padding: 15px;">Veja as opiniões</h2>
                    </div>
                </div>

                <div class="row top30">
                    <div class="col-md-6">
                        <h5>Como era</h5>
                        <p class="top15">O valor era atribuído pelo juiz, de acordo com seu convencimento. Aplicava-se as regras dos artigos 186 e 927 do Código Civil.</p>
                    </div>
                    <div class="col-md-6 border-left">
                        <h5>Como ficou</h5>
                        <p class="top15">A legislação impôs limitado ao valor pleiteado pelo trabalhador a título de danos morais. Para isso, o juiz deverá se valer dos critérios e do teto estabelecidos no artigo 223-G da CLT.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="login_user">
        <div class="container">
            <span class="mdl-chip mdl-chip--contact mdl-chip--deletable" *ngIf="!user">
                <a class="mdl-chip__action" (click)="login()">
                    <i class="material-icons">people</i>
                </a>
            </span>
            <span class="mdl-chip mdl-chip--contact mdl-chip--deletable" *ngIf="user">
                <img attr.src="{{user.auth.photoURL}}" class="mdl-chip__contact">
                <span class="mdl-chip__text">{{user.auth.displayName}}</span>
                <a class="mdl-chip__action" (click)="logout()">
                    <i class="material-icons">power_settings_new</i>
                </a>
            </span>
        </div>
    </section>
    <section id="comentarios">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-centered">
                    <div class="box">
                        <div class="row">
                            <div class="col-md-6 col-centered">
                                <form class="text-center" (submit)="create($event, textField.value, 1); textField.value=''">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Participe da discussão..." #textField>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 col-centered">
                                <ul class="mdl-list">
                                    <li class="comentario" *ngFor="let item of items | async">
                                        <div class="media">
                                            <div class="media-left text-center">
                                                <img attr.src="{{item.photoURL}}" class="imgperfil img-circle">
                                                <span title="Votos" class="notify">{{ item.votes }}</span>
                                                <p class="config text-center">
                                                    <a class="" title="Votar" (click)="update(item.$key)" style="display: inline-table;">
                                                        <i class="material-icons" style="font-size: 14px;font-weight: 600;">keyboard_arrow_up</i>
                                                    </a>
                                                    <a class="" title="Remover comentário" (click)="remove(item.$key)" *ngIf="user" style="display: inline-table;">
                                                      <i class="material-icons" style="font-size: 13px;font-weight: 600;" *ngIf="user.auth.email == item.email">close</i>
                                                    </a>
                                                    <a class="" title="Retirar voto" style="display: inline-table;">
                                                        <i class="material-icons" style="font-size: 14px;font-weight: 600;">keyboard_arrow_down</i>
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="media-body text-left">
                                                <!-- <h6>{{ item.autor }} <span class="date_coment">{{ item.date_coment | date:'dd/MM/yyyy HH:mm:ss'}}</span></h6> -->
                                                <h6>{{ item.autor }} <span class="date_coment">{{item.date_coment | amLocale:'pt-BR' | amTimeAgo}}</span></h6>
                                                <p class="desc">{{ item.desc }}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
